<form action="<%= new_band_url %>" method="GET">
  <input type = "submit" value="Click here to add a new band">
</form>
<br></br>
The following bands' albums are currently available:
<ul>
<% @bands.each do |band| %>
<li><%= link_to band.name, band_url(band.id) %>

  <form action="<%= new_band_album_url(band.id) %>" method="GET">
    <input type="submit" value="Click here to add a new album for this band">
  </form>

  <form action="<%= band_url band.id %>" method="POST">
    <input type = "submit" value="Delete this band">
    <input type="hidden" name="_method" value="DELETE">
  </form>

  <form action="<%= edit_band_url band.id %>" method="GET">
    <input type = "submit" value="Edit this band">
  </form>

  <ul>
    <% band.albums.each do |album| %>
    <li><%=band.name%>'s album: <%= link_to album.title, album_url(album.id)%>
      <form action="<%= new_album_track_url(album.id) %>" method="GET">
        <input type="submit" value="Click here to add a new track for this album">
      </form>

      <form action="<%= album_url album.id %>" method="POST">
        <input type="submit" value="Delete this album">
        <input type="hidden" name="_method" value="DELETE">
      </form>

      <% album.recordings.each do |track| %>

      <ul>
        <li>Track: <%= link_to track.title, track_url(track.id)%></li>

        <form action="<%= track_url track.id %>" method="POST">
          <input type="submit" value="Delete this track">
          <input type="hidden" name="_method" value="DELETE">
        </form>

      </ul>
        <% end %>
    </li>
    <% end %>
  </ul>
</li>
<% end %>
</ul>